@charset "utf-8";
/* CSS Document */

:root
{  
  --background-image-url: url("../img/bg_photos.png");
  --bottom-colour: var(--main-neutral-colour);
  --bottom-right-background-colour: var(--main-dark-colour);
  --middle-div-height: auto;
  --bottom-grid-template_columns: 60% auto;
}

/* 
  div.background has to be duplicated in each CSS file due to the fact that some browsers can't resolve
  variables with relative URLs
*/
div.background 
{
  background-image: url(../img/bg_photos.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: calc(100% - 0px);
}

@media screen and (max-width: 1000px) 
{
  div.background
  {
    background-image: url(../img/bg_photos_medium.png);
  }
}

/*
@media screen and (max-width: 500px) 
{
  div.background
  {
    background-image: url(../img/bg_photos_small.png);
  }
}
*/

.row
{
  display: flex;   
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2%;
}

.row img
{
  width: 30%;
  vertical-align: middle;
  padding: 1%;
  object-fit: contain;  
}

.row img:hover
{
  opacity: 0.8;
}

.carousel_caption_bg 
{
  /* this is the RGB value of --main-dark-colour */
  background-color: rgba(41, 62, 49, 0.4);
}


