@charset "utf-8";
/* CSS Document */
@font-face 
{
  font-family: FuturaMuseo300;
  src:url("../fonts/Museo300-Regular.otf");
}

@font-face 
{
  font-family: FuturaMuseo700;
  src:url("../fonts/Museo700-Regular.otf");
}

@font-face 
{
  font-family: RalewayRegular;
  src:url("../fonts/Raleway-Regular.ttf");
}

:root
{
  --main-bright-colour: #fe8340;
  --main-dark-colour: #293e31;
  --main-neutral-colour: #fcf9f4;
}

body
{    
  font-family: FuturaMuseo700, serif;
  margin: 0%;
}




div.background
{  
  background: var(--background-image-url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;    
  width: calc(100% - 0px);    
}


/* top section */
div.topbanner 
{
  display: grid;
  grid-template-columns: 22% auto;
  height: 15vh;
}

div.topleft
{  
  display: grid;
  align-items: center;
  background-color: var(--main-bright-colour);        
  padding-left: 1vw;
  letter-spacing: 0.05em;
  font-weight: 400;
}

div.topright
{  
  display: grid;
  background-color: var(--main-dark-colour);  
  justify-content: right;
  align-items: center;
  text-align: end;      
}

div.topleft div.dropdown
{
  display: none;
}

@media screen and (max-width: 1000px)
{
  div.topbanner 
  {
    display: grid;    
    grid-template-columns: 100%;
  }

  div.topleft
  {
    text-align: center;
    position: relative;
  }

  div.topleft div.dropdown
  {    
    position: absolute;    
    right: 1vw;
    display: block;
  }

  div.dropdown-menu 
  {
    background-color: var(--main-dark-colour) !important;
  }

  div.topright
  {
    display: none;
  }
}

/* nav */
.topnav 
{
  white-space: nowrap;
}

.topnav a
{
  display: inline;  
}

.topnav a, 
a.dropdown-item
{    
  color: white;
  font-size: 1em;
  letter-spacing: 1.5px;
  white-space: nowrap;
  padding-right: 1.7vw;
}

.topnav a.active,
.topnav a:focus,
.topnav a:hover, 
a.dropdown-item.active,
a.dropdown-item:focus,
a.dropdown-item:hover
{
  color: var(--main-bright-colour);
  background-color: var(--main-dark-colour);
  text-decoration: none;
}

.companynamemedium
{
  white-space: nowrap;
  font-size: 2em;
  color: var(--main-dark-colour);
}

.companyaddressmedium
{
  font-size: 1em;
  color: var(--main-dark-colour);
}





/* middle section */
div.middle
{  
  display: block;	
  height: var(--middle-div-height);
  width: 100%;    
}

.main_company_name
{
  margin-left: 20%;
  margin-top: 5%;
  color: white;
  font-size: 7vh; 
}

.main_company_logo
{
  margin-left: 23%;
  color: white;
  font-size: 4vh;
}





/* bottom section */
div.bottom
{    
  display: grid;
  grid-template-columns: var(--bottom-grid-template_columns);
  background-color: var(--bottom-colour);    
}

div.bottom_left
{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;    
  padding-bottom: 2%;  
  line-height: 1.6;
  word-spacing: 0.25em;
}

div.bottom_right
{  
  display: inline-flex;
  justify-content: center;  
  background-color: var(--bottom-right-background-colour);
}

.main_company_ethos
{    
  font-size: 2em;
  color: var(--main-dark-colour);    
}

div.line
{
  border-width: thin;
  border-color: var(--main-dark-colour);
  border-style: solid;
  margin-top: 1em;
  width: 5em;
}

div.story
{  
  color: var(--main-dark-colour);
  margin-top: 1em;
  font-family: RalewayRegular;
}

@media screen and (max-width: 1000px) 
{
  div.bottom
  {
    display: grid;
    grid-template-columns: 100%;
  }

  div.bottom_left
  {
    width: 100%;    
  }

  div.bottom_right
  {
    width: 100%;
  }
}




/* bottom banner section */
div.bottom_banner
{  
  display: grid;
  grid-template-areas: "bottom_banner_left bottom_banner_right";
  background-color: var(--main-dark-colour);
  color: var(--main-bright-colour);  
  height: 5em;  
  border-top-style: solid;
  border-top-color: #c7c7c7;
  border-top-width: thick;
}

.bottom_banner_left
{
  font-size: 1em;
  align-self: center;
  justify-self: right;
  padding-right: 10%;
}

.bottom_banner_right
{      
  font-size: 3em;
  align-self: center;
  justify-self: left;
  padding-left: 10%;
}

a i 
{
  color: var(--main-bright-colour);
}
